<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listar elementos con Vue.js</title>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submit" method="GET">
            <template v-for="(p, index) in peliculas">
                    <input type="checkbox" v-model="pelis" v-bind:value="p.value" v-bind:id="p.value">
                    <label v-bind:for="p.value">{{p.nombre}}</label>
            </template>
            <br>
            <button type="submit">Enviar</button>
        </form>
    </div>    
    <script src="vue.js"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data() {
                return {
                    peliculas: [
                        {
                            nombre: "GOT (Juego de tronos)",
                            value: "GOT"
                        },
                        {
                            nombre: "Advengers (EndGame)",
                            value: "UCM"
                        }
                    ],
                    pelis: []
                }
            },

            methods: {
                submit: function () {
                    this.peliculas.forEach(row => {
                        this.pelis.forEach(pelicula => {
                            if (row['value'] == pelicula) {
                                console.log(row['nombre'])
                            }
                        });
                    });
                }
            },
        })
    </script>
</body>
</html>